{% extends "network/layout.html" %}


{% block body %}
   
    <h2>Profile page: {{profileuser}} </h2>
    <div> Followers: {{followers}}</div>
    <div> Following: {{following}}</div>

    {%if user.id == profileuser.id %}
        You are on your own profile.
    {%else%}

        {%if user in profileuser.follower.all%}
            <form action="{%url 'unfollow'%}" method="post" id="unfollow">
                {% csrf_token %}
                <input type="hidden" name="profileuser" value="{{profileuser}}">
                <input type="hidden" name="user" value="{{user}}">
                <input type="submit" value="Unfollow">
            </form>
        {%else%}
            <form action="{%url 'follow'%}" method="post" id="follow">
                {% csrf_token %}
                <input type="hidden" name="profileuser" value="{{profileuser}}">
                <input type="hidden" name="user" value="{{user}}">
                <input type="submit" value="Follow">
            </form>
        {%endif%}
    {%endif%}

    <h3>{{profileuser}}'s posts: </h3>
    <div hidden id="userid"> {{user.id}} </div>
    {% for post in pageobj%}
    <div id="fullcard">
        <div id="postcard">
            <div hidden id="postid"> {{post.id}} </div>
            <div>Author: <a href="{%url 'profile' post.author%}">{{post.author}}</a> </div>
            <div>Time: {{post.time}} </div>
            <div id="postcontent">{{post.text}}</div>
            <div id="postlikes">Likes: {{post.likes}} </div>
            {%if user in post.likers.all%}
                <div><button class="unlikebtn"> Unlike </button></div>
                <div style="display: none"><button class="likebtn"> Like </button></div>
            {%else%}
                <div style="display: none"><button class="unlikebtn"> Unlike </button></div>
                <div><button class="likebtn"> Like </button></div>
            {%endif%}
            {%if user == post.author%}
                <div id ="editdiv"><button id="edit-btn"> Edit </button></div>
            {%endif%}
        </div>
        <div id="editcard">
            <form id="newpost">
                <div class="form-group">
                    <textarea class="form-control" rows="5" id="postarea" form="newpost" name="text">{{post.text}}</textarea>
                </div>
                <input type="submit">
            </form>
        </div>
    </div> 
    {%endfor%}

    {% if pageobj.has_other_pages%}
    <div class="grid-container">
        <div class="grid-item">
        {%if pageobj.has_previous%}
        <a href="?page={{pageobj.previous_page_number}}">Previous</a>
        {%endif%}
        </div>

        <div class="grid-item">
        <ul class="pagination">
            {%for i in pageobj.paginator.page_range%}
                {%if pageobj.number == i%}
                    <li class="active"><span>{{i}}<span class="sr-only"></span></span></li>
                {%else%}
                    <li><a href="?page={{i}}">{{i}}</a></li>
                {%endif%}
            {%endfor%}
        </ul>
        </div>

        <div class="grid-item">
        {%if pageobj.has_next%}
        <a href="?page={{pageobj.next_page_number}}">Next</a>
        {%endif%}
        </div>
    </div>
    {%endif%}

{% endblock %}